<!-- layout for login form -->
<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <span class="border border-primary h2  text-primary bg-light py-5 px-4 rounded-circle logo">Login</span>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-6 col-md-6 col-lg-4">
            <form class="form" name="form" action="http://localhost:8082/" method="post">
                <div class="form-group">
                    <label for="email" class="text-primary h5">email</label>
                    <input type="email" class="form-control form-control-lg email" placeholder="email@example.com"
                        name="email">
                </div>
                <div class="form-group">
                    <label for="password" class="text-primary h5">password</label>
                    <div class="input-group">

                        <input type="password" class="form-control form-control-lg pwd border-right-0 password"
                            value="######" name="password">
                        <span class="input-group-btn">
                            <button class="btn btn-default toggle btn-lg border border-left-0 rounded-0"
                                type="button"><i class="fa fa-eye"></i></button>
                        </span>
                    </div>
                </div>

                <button type='submit' class="btn btn-primary btn-lg">Sign in</button>
            </form>
        </div>
    </div>
</div>